* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.cabeçalho {
  background-color: #12A529;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 18px;
  height:60px;
}

.menu{
 position: absolute;
  left: 15px; 
  width: 80px;
  }

.cabeçalho-logo{
  width: 120px;
  height: auto;
  }

.cabeçalho-titulo{
  font-size: 50px;
  }

.pesquisa{
  position: absolute;
  right: 15px;
  width: 80px;
  }