* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #12A529;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    height: 75px;
}