* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body{
  display: flex;
  background-color: #EDECEC
}

.container{
  width: 1440px;
  max-width: 1440px;
  }

.cabecalho {
  background-color: #12A529;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 18px;
  height:60px;
  width: 1402px;
  max-width: 1402px;
}

.menu{
 position: absolute;
  left: 15px; 
  width: 80px;
  }

.cabecalho-logo{
  width: 120px;
  height: auto;
  }

.cabecalho-titulo{
  font-size: 50px;
  font-weight: 1000;
  }

.lupa{
  position: absolute;
  right: 2px;
  width: 80px;
  }

.banner{
  height: 276px;
  width: 1440px;
  }

.noticia-titulo{
  text-align: center;
  font-size: 60px;
  font-weight: 1000;
  margin: 50px;
  }

.texto-noticia{
  font-size: 22px;
  text-align: left;
  margin: 35px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  }

.imagem-noticia{
  display: block;
  margin: 80px auto;
  width: 65%;
  max-width: 100%;
  height: auto;
}